/* 
    El layaout model

    El algoritmo del navegador para entender la geometria
    de cada elemento HTML luego de procesar el CSS:
    el tamaño, la posicion, la separacion con otros elementos

    * Box model
    * Posicion
    * Flexbox
    * CSS grid

    Usamos mucho el layout model para RWD (Responsive-Web-Desing)

    Todos los elementos HTML son rectangulos

    Estos rectangulos son de 2 tipos:
        1. De Bloque
        2. De Linea (se comportan como texto)

*/  
h1{
    background: red;
    width: 200px;
    height: 100px;
}

p{
    background: yellow;
    height: 100px;
}

span{
    background: green;
    height: 50px;           /* Aqui no pasa nada porque es un elemento de linea */
}


/* 
    PROPIEDAD : DISPLAY

    div {
        display: inline | block | inline-block | flex | grid | none;
    
    }

*/

h1{
    display: inline;
    /* display: none; */
    
}

p{
    display: inline;
}
span{
    display: block;
}

span{
    display: inline-block;
}


/* Las IMAGENES son inline-block */

.gallery{
    text-align: center; /* se centra el div gallery */
}
img{
    width: 200px;
}

/* PROPIEDAD MARGIN  

    Sirve para definir el margen, que es
    la distancia entre el elemento y los 
    elementos externos.

    Seguir el orden de las agujas del reloj

*/

img{
    /* margin: 20px; */
    /* margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-right: 20px; */

    /* margin: top right bottom left; */

    margin: 10px 5px 15px 20px;
}


/* CENTRAR UN DIV  */

/* Para elemento de bloque */
.div-center{
    width: 100px;
    height: 100px;
    background: red;
}

.div-center{
    margin-left: auto;
    margin-right: auto;

}

/* Para elemento de linea
        text-align al padre
*/
.div-center2{
    width: 100px;
    height: 100px;
    background: green;
    display: block;
}
.container{
    text-align: center;
}


.card{
    width: 260px;
    border: 1px solid #ccc;
    background: #bbb;
    text-align: center;
}
.card-title{
    margin: 0;

}

/* PADDING */

.div-center3{
    padding: 10px;
}