/* 
    Conceptos basicos

    1. Tipografia es la disciplina (y arte)
       que se encarga de las letras, su diseño
       y su legibilidad.

    2. Fuente: Es un tipo de especifico de letra

    3. Glifo: Cada caracter (simbolo) en una fuente

    4. Estilos: Son las variaciones de una fuente

    5. Familia tipografica: Son diferentes fuentes pero
       de la misma familia, es decir que comparten rasgos
       en comun (tambien el nombre)
 
 */

 h1, h2, h3, h4, h5, h6 {
   font-family: "Lugrasimo", cursive;
   font-weight: 400;
   font-style: normal;
 }
 

/*
      Unidades de medida: rem y em

      em : Tamaño de la M (significado historico)

      rem : Tamaño de la respecto a la raiz (base)

      -----

      rem : es el tamaño de la fuente en la raiz (:root)
            y este tamaño no cambia salvo que se sobreesvriba
            en la raiz.

*/
h1{
   font-size: 5rem;
}

p{
   font-size: 5rem;
}


/* 
      em : es el porcentaje del tamaño de fuente del 
            padre mas cercano 

            1em = 100%
            .5em = 50%
            1.5em = 150%s
*/
span{
   color: red;
   font-size: .5em;
}

.button{
   font-size: 2em;
   display: inline-block;
   background: hsl(200,50%,60%);
   color: #fff;
   text-decoration: none;
   padding: .5em 1.5em;
   border-radius: .25em;

}
