/* 
    Color

        Color de frente: propiedad color
        Color de fondo: propiedad background-color
                        background-image


*/

body{
    color: red;
}

h1{
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px;
    background: yellow;
}
span{
    background: white;
}